.details-wrapper {
  margin: 64px auto;
  padding: 16px;
  width: 50%;

  background: #f7f7f7;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  dl {
    display: flex;
    white-space: pre;

    dt {
      width: 80px;
    }
  }
}
